#title {
  background-color: rgb(221, 55, 55);
  color: white;
  height: 550px;
}

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.1rem;
  line-height: 1.5;
  font-weight: 500;
}

.container-fluid {
  padding: 1% 15%;
}

button {
  margin: 0 10px 0 0;
}

i {
  margin: 0 10px 0 0;
}

.navbar-brand {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
}

.navbar {
  padding-bottom: 50px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
}

.image {
  transform: rotate(25deg);
  width: 60%;
  z-index: -1;
  right: 30%;
}

/* make different responsive for different screen size */

/* @media (max-width : 820px) {
  #title {
    background-color: rgb(221, 55, 55);
    color: white;
    height: 1090px;
    text-align: center;
  }

  .image {
    transform: rotate(25deg);
    width: 60%;
    z-index: -1;
    right: 30%;
    margin-top: 50px;
  }
}

@media (min-width : 820px) and (max-width : 1082px) {
  #title {
    background-color: rgb(49, 19, 19);
    color: white;
    height: 550px;
    
  }

  .image {
    transform: rotate(25deg);
    width: 60%;
    z-index: -1;
    margin-left: 200px;
    width: 50%;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
  } 
}*/

@media (max-width: 1028px) {

  #title {
    text-align: center;
    height: auto;
  }

  .image {
    transform: rotate(0);
    width:50%;
    z-index: -1;
    margin-top: 20px;
  }

  .buttonContainer{
    margin-top: 10px;
  }

  #cta{
    padding: 30px;
  }
}

/* -------------- */

#features {
  background-color: rgb(255, 255, 255);
  padding: 7% 12%;
  position: relative;
  z-index: 1;
  
}

.feature-box {
  text-align: center;
  padding: 5%;
}

h4 {
  font-family: "Montserrat";
  font-weight: 550;
}

p {
  color: #8f8f8f;
  font-weight: 400;
}

.fas {
  margin: 0 0 15px 0;
  color: rgb(221, 55, 55);
}

.fas:hover {
  color: rgb(158, 29, 29);
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: rgb(221, 55, 55);
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonialsimg {
  width: 10%;
  border-radius: 200%;
  margin: 20px;
}

#press {
  background-color: rgb(221, 55, 55);
  text-align: center;
  padding-bottom: 3%;
}

.presslogo {
  margin: 20px 20px 50px;
  width: 15%;
}

.carousel-item {
  padding: 2% 2%;
}

#pricing{
  padding: 100px;
}

.col{
  padding: 3% 3%;
}

/* ------------- */

#cta{
  background-color: rgb(221, 55, 55);
  padding: 50px;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
  font-weight: 550;
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 80px;
}

.buttonContainer{
  margin-top: 10px;
}

/* _---------------- */
#footer{
  background-color: #fff;
  padding: 100px 50px;
  text-align: center;
}